POSTGRES_DB=streamzone_db
POSTGRES_USER=streamzone_user
POSTGRES_PASSWORD=streamzone_password
DB_HOST=db
DB_PORT=5432
DJANGO_SECRET_KEY=change_me_in_dev
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
